<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href = "/css/styles.css">
    <title>Aaron Chan</title>
</head>
<body>
    <header class = "header"  class="active">
        <div class = "header__home"><a href ="#home" style="text-decoration: none"></a>Home</a></div>
        <div class = "header__about"> <a href ="#about" style="text-decoration: none">About</a></div>
        <div class = "header__contact"> <a href ="#contact" style="text-decoration: none">Contact</a></div>

    </header>
    <div class="container">
        <div class ="text">
            Hi my name is Aaron Chan! I'm a junior computer engineering major at Texas A&M University. 
        </div>
        <div class ="image">
            <img src = "/img/initial_photo.jpg">
        </div>
    </div>
</body>
</html>